@-webkit-keyframes main-nav-logo-animation {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes main-nav-logo-animation {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Fira Sans", sans-serif;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 992px) {
  #offer {
    margin-top: 50px;
  }
  #prices {
    margin-top: 50px;
  }
  #gallery {
    margin-top: 50px;
  }
  .main-nav-items {
    display: none;
  }
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -10;
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
}

.social-media {
  position: fixed;
  max-width: 768px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 32px;
  bottom: 0;
  background-color: #403121;
  border-radius: 5%;
}
.social-media a {
  font-size: 24px;
  color: #faf494;
}
.social-media .copyright {
  color: #ed9728;
  opacity: 0.5;
  text-align: right;
  line-height: 32px;
  font-size: 16px;
}
.social-media .copyright a {
  color: #ed9728;
  font-size: 16px;
  text-align: right;
}

div.main-nav-items {
  background-color: #403121;
  border-radius: 0% 0% 42% 42%;
  height: 96px;
  position: fixed;
  top: 0;
  z-index: 99;
}
div.main-nav-items div.main-nav-nav-logo {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  -webkit-animation: main-nav-logo-animation 4s both infinite;
          animation: main-nav-logo-animation 4s both infinite;
}
div.main-nav-items ul {
  opacity: 0.8;
}
div.main-nav-items ul li {
  padding: 8px;
}
div.main-nav-items ul li div {
  min-width: 100px;
  font-size: 24px;
  text-align: center;
  border-bottom: 2px solid #a65e09;
  border-left: 2px solid #a65e09;
  border-radius: 10%;
  -webkit-transform: perspective(320px) rotateX(30deg) rotateY(-15deg);
          transform: perspective(320px) rotateX(30deg) rotateY(-15deg);
  -webkit-box-shadow: 2px 20px 10px 20px #000, 20px 40px 10px 0px #000;
          box-shadow: 2px 20px 10px 20px #000, 20px 40px 10px 0px #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
div.main-nav-items ul li div:hover {
  -webkit-transform: perspective(320px) rotateX(0deg) rotateY(0deg);
          transform: perspective(320px) rotateX(0deg) rotateY(0deg);
  -webkit-box-shadow: 30px 30px 10px 10px #000, 0px -30px 20px 40px #403121;
          box-shadow: 30px 30px 10px 10px #000, 0px -30px 20px 40px #403121;
}
div.main-nav-items ul li div a {
  color: #faf494;
}

.hamburger {
  z-index: 99;
}
.hamburger .burger-menu {
  background-color: #403121;
  width: 160px;
}
.hamburger .burger-menu .main-nav-items-burger a {
  font-size: 24px;
  padding: 8px;
  color: #faf494;
}
.hamburger .hamburger-icon {
  position: fixed;
  margin-bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  color: #faf494;
  border: none;
  font-size: 32px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hamburger .hamburger-icon:hover {
  cursor: pointer;
  color: #faf494;
  font-size: 40px;
}

div.wrapper {
  min-height: 648px;
}

#start {
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  max-width: 560px;
}
#start .main-offer {
  color: #ed9728;
  font-size: 24px;
  margin-bottom: 20px;
}
#start .main-offer .card {
  background-color: #403121;
}
#start .main-offer h5 {
  font-size: 32px;
  color: #faf494;
}
#start .about-us {
  color: #ed9728;
  border-radius: 3%;
  margin-bottom: 24px;
  padding: 8px;
  -webkit-box-shadow: 40px 40px 800px 20px #a65e09;
          box-shadow: 40px 40px 800px 20px #a65e09;
  text-align: center;
  opacity: 0.7;
}
#start .voucher {
  -webkit-animation: main-nav-logo-animation 6s both infinite;
          animation: main-nav-logo-animation 6s both infinite;
}

#offer {
  position: absolute;
  top: 120px;
}
#offer h1 {
  margin-top: 50px;
  color: #faf494;
  line-height: 150px;
  font-family: "Fira, Sans-serif";
}

#services {
  left: 0;
  padding: 24px;
}

.card-body {
  margin-top: 160px;
  min-width: 30px;
  border-radius: 10%;
  -webkit-box-shadow: 40px 40px 100px 35px #583211;
          box-shadow: 40px 40px 100px 35px #583211;
  background-color: #403121;
  color: #ed9728;
}

#prices {
  position: absolute;
  color: #ed9728;
  z-index: 5;
}
#prices h1 {
  margin-top: 80px;
  line-height: 120px;
  font-family: "Courgette";
  letter-spacing: 1.5vw;
}
#prices h2 {
  font-family: "Fira, Sans-serif";
  text-transform: uppercase;
}
#prices h4 {
  font-family: "Courgette";
}
#prices .prices-item {
  -webkit-box-shadow: 0px 0px 200px 20px #403121;
          box-shadow: 0px 0px 200px 20px #403121;
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 8px;
}
#prices .prices-item:hover {
  -webkit-box-shadow: 0px 0px 5px 5px black;
          box-shadow: 0px 0px 5px 5px black;
}

#gallery {
  position: fixed;
  top: 120px;
  height: 100%;
  text-align: center;
}

#contact {
  position: fixed;
  opacity: 60%;
}
#contact a {
  color: #ed9728;
}
#contact .service-details {
  margin-top: 40px;
  margin-bottom: 40px;
  margin: auto;
}

.service-item {
  color: #faf494;
  margin-bottom: 16px;
  min-width: 400px;
  background-color: #403121;
  padding: 16px;
  border: 3px solid #a65e09;
  border-radius: 10%;
}
.service-item .card-title {
  text-align: center;
  text-transform: uppercase;
}
.service-item .card-text {
  text-align: center;
}/*# sourceMappingURL=main.css.map */