// Colors

// Set 1 gold
$primary-background-color: #403121;
$secondary-background-color:#A65E09;
$primary-color:#FAF494;
$secondary-color:#ED9728;

// // Set 2 gold
// $primary-background-color:#282F44;
// $secondary-background-color:#E6AF2E;
// $primary-color:#F5D061; 
// $secondary-color:#ECECEC;

// // Set 3 gold
// $primary-background-color:#4A3933;
// $secondary-background-color:#F0A500;
// $primary-color:#E6D5B8;
// $secondary-color:#E45826;

// // Set 4 dark
// $primary-background-color:#2C061F;
// $secondary-background-color:#374045;
// $primary-color:#D89216;
// $secondary-color:#E1D89F;

// // Set 5 warm
// $primary-background-color:#2F2519;
// $secondary-background-color:#4A3F35;
// $primary-color:#FA7D09;
// $secondary-color:#FF4301;

// // Set 6 retro
// $primary-background-color:#4E89AE;
// $secondary-background-color:#43658B;
// $primary-color:#FFA372;
// $secondary-color:#ED6663;