.social-media {
  position: fixed;
  height:36px;
  bottom: 0;
  padding: 2px;
  background-color: $primary-background-color;
  opacity:0.5;
  border-radius: 5%;
  a {
    font-size: 24px;
    color: $primary-color;
  }
  .copyright {
    color: $secondary-color;
    opacity: 0.5;
    text-align: right;
    font-size: 10px;
    a {
      color: $secondary-color;
      font-size: 10px;
      text-align: right;
    }
  }
}
