div.wrapper {
  min-height: 648px;
}

#start {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 560px;
  // box-shadow: 0px 0px 20px 11px $primary-background-color;
  .main-offer {
    color: $secondary-color;
    font-size: 24px;
    margin-bottom: 20px;
    // z-index: 1;
    .card {
      background-color: $primary-background-color;
    }
    // .main-services {
    //   p {
    //     color: $secondary-color;
    //   }
    // }

    h5 {
      font-size: 32px;
      color: $primary-color;
    }
  }

  .about-us {
    // position: absolute;
    color: $secondary-color;
    border-radius: 3%;
    // max-width: 400px;
    padding: 8px;
    box-shadow: 40px 40px 800px 20px $secondary-background-color;
    // bottom: 60px;
    // left: 50%;
    // transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0.7;
  }
}

#offer {
  position: absolute;
  // bottom: 120px;
  top: 120px;
}

.services {
  position: absolute;
  width: 100%;
  // margin-top: 160px;
  left: 0;
  padding: 24px;
  box-shadow: 40px 40px 100px 35px #583211;
}

.service.item {
  border-radius: 20%;

  // box-shadow: 40px 40px 100px 35px #583211;
}

.card-body {
  margin-top: 160px;
  min-width: 340px;
  border-radius: 10%;
  box-shadow: 40px 40px 100px 35px #583211;
  background-color: $primary-background-color;
  color: $secondary-color;
}

#prices {
  position: absolute;
  top: 120px;
  text-align: center;
  align-items: center;
  color: $secondary-color;
  h1 {
    font-family: 'Parisienne', cursive;
    font-size: 56px;
  }
  h2 {
    font-family: 'Courgette', cursive;
  }
  .prices-item {
    box-shadow: 0px 0px 100px 20px $primary-background-color;
    border-radius: 30px;
    padding: 8px;
    margin-bottom: 8px;
  }
  .prices-item:hover {
    color: $primary-color;
  }
}

#contact {
  position: relative;
  top: 200px;
  a {
    color: $secondary-color;
  }
  iframe {
    width: 100%;
  }
}

.service-details {
  margin-top: 40px;
  margin-bottom: 40px;
  // background-color: $primary-background-color;
  color: $primary-color;
  .service-item {
    margin-bottom: 16px;
    min-width: 450px;
    background-color: $primary-background-color;
    padding: 16px;
    border: 3px solid $secondary-background-color;
    border-radius: 10%;
    .card-title {
      text-align: center;
      text-transform: uppercase;
    }
    .card-text {
      text-align: center;
    }
  }
}
