@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 992px) {
  #offer {
    margin-top: 50px;
  }
  #prices {
    margin-top: 50px;
  }
  #gallery {
    margin-top: 50px;
  }

  .main-nav-items {
    display: none;
  }
}
